@import "toolkit";
@import "variables";

.header {
  @extend %clearfix;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .mui-icon-button {
    &.-refresh {
      float: right;
    }
  }
}

.header__title {
  .mui-app-bar & {
    margin: 0;
  }
  &, a {
    color: $app-bar-text-color;
    text-decoration: none;
  }
}
