@import "toolkit";

.listing-item {
  padding: 14px 49px 14px 0;
  border-bottom: 1px solid $faint-black;
  position: relative;
  h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 6px 0;
    padding: 0;
    @include breakpoint(tablet) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  a {
    color: $dark-black;
    text-decoration: none;
  }
  @include breakpoint(tablet) {
    padding-right: 0;
  }
  .post-page & {
    padding-right: 0;
  }
}

.listing-item-metadata {
  span {
    color: $light-black;
    &:after {
      content: ' ';
    }
  }
}

.listing-item-metadata__comments {
  display: none;
  @include breakpoint(tablet) {
    display: inline-block;
  }
}

.list-item-comments {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -18px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  &.mui-paper.mui-z-depth-2 > .mui-z-depth-bottom {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }
  &.mui-floating-action-button.mui-is-secondary .mui-floating-action-button-container {
    &, &:hover {
      width: 100%;
      height: 100%;
      background: #fff;
    }
  }
  span {
    color: #aaa;
    line-height: 34px;
  }
  @include breakpoint(tablet) {
    display: none;
  }
  .post-page & {
    display: none;
  }
}
