@import "toolkit";

.listing-item {
  padding: 14px 44px 14px 0;
  border-bottom: 1px solid $faint-black;
  position: relative;
  h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 6px 0;
    padding: 0;
    @include breakpoint(tablet) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  a {
    color: $dark-black;
    text-decoration: none;
  }
  @include breakpoint(tablet) {
    padding-right: 0;
  }
  .post-page & {
    padding-right: 0;
  }
}

.listing-item-metadata {
  span {
    color: $light-black;
    &:after {
      content: ' ';
    }
  }
}

.listing-item-metadata__comments {
  display: none;
  @include breakpoint(tablet) {
    display: inline-block;
  }
}

.list-item-comments {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
  text-align: center;
  p {
    color: #aaa;
  }
  @include breakpoint(tablet) {
    display: none;
  }
  .post-page & {
    display: none;
  }
}
