.info-message {
  margin: 14px;
  .mui-paper-container {
    padding: 10px;
    margin: 10px 0;
  }
  &.-hidden {
    display: none;
  }
  &.-error {
    color: red;
  }
  .icon {
    fill: #888;
  }
}
