@import "toolkit";

.app {
  font-size: inherit;
  .body {
    padding: 64px 22px 0 22px;
  }
}

.app__title {
  font-size: 18px;
  margin-bottom: 0;
}

.app-bar__refresh {
  float: right;
}

.page-transition-enter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.01;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.page-transition-leave {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0.01;
}

